<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">
    <!-- Register the custom router so /sitemap resolves without the module frontName. -->
    <type name="Magento\Framework\App\RouterList">
        <arguments>
            <argument name="routerList" xsi:type="array">
                <item name="panth_html_sitemap" xsi:type="array">
                    <item name="class" xsi:type="string">Panth\HtmlSitemap\Controller\Router\HtmlSitemapRouter</item>
                    <item name="disable" xsi:type="boolean">false</item>
                    <item name="sortOrder" xsi:type="string">23</item>
                </item>
            </argument>
        </arguments>
    </type>
</config>
